*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
   
}
.form-container{
   padding-top: 4.2%;
  
   /* background-image: url("https://cdn.pixabay.com/photo/2024/03/10/18/20/burst-8625292_1280.jpg"); */
   background-color: rgb(190, 181, 181);
   height: 100vh;
   width: 100%;

    
}
